$primary-color: #2A96ED;
$secondary-color: #2aede3;
$third-color: #2a35ed;


.home-container {
    padding: 10px;

    .headline-columns {
        display: grid;
        grid-template-columns: 1fr; 
    

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr; 
            grid-gap: 20px; 
            align-items: center; 
        }
    }

    .headline {
        align-items: center;
        padding: 10px;
    }

    .headline-image {
        img {
            max-width: 80%; 
            height: auto; 
            padding: 10px;
        }
    }
    .problem-solution {
        background-color: rgb(240, 237, 237);
    }
    .benefits {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        padding: 10px;
        gap: 50px;
        
    }
    .benefits h1{
        font-size: 20px;
    }
    .benefits h2{
        font-size: 15px;
    }
    .benefits-heading {
        text-align: center;
        color: #2a35ed;
    }

    .features-container {
        text-align: center;
        background-color: rgb(240, 237, 237);
    }
    .feature-columns {
        display: grid;
        grid-template-columns: 1fr; 

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr; 
            grid-gap: 20px; 
            align-items: center; 
        }
    }
    .feature-columns h1 {
        font-size: 20px;
    }
    .feature-columns h2 {
        font-size: 15px;
    }
    .checklist {
        list-style: none;
        padding-left: 0;
      }
      
      .checklist li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .checkmark {
        font-size: 1.5em;
        margin-right: 10px;
        color: green;
      }
      .faq-container {
        padding: 50px;
      }
      .book-container {
        display: grid;
        place-items: center;
      }

}

